.video-player{
    width: 100%;
    position: relative;
}

.video-control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.096);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.icon-custom{    
    color: rgba(245, 244, 239, 0);
    font-size: 40;
    transform: scale(1.30);
}
.icon-custom :hover{
    color: cornsilk;    
    transform: scale(1);
}
.bottom-play{
    color: #fff;    
}
.bottom-play :hover{
    color: #fff;
}
